.hash-error{
color:red
}

.navbar-inverse .navbar-brand {
color: #FFF;
}

.navbar-inverse .navbar-nav>li>a {
color: #FFF;
}

table .column-check {
	width: 2em;
	text-align: center;
}

.panel-green .panel-heading {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}

.panel-green {
border-color: #5cb85c;
}


.panel-green a {
color: #5cb85c;
}


.panel-yellow .panel-heading {
border-color: #f0ad4e;
color: #fff;
background-color: #f0ad4e;
}

.panel-yellow {
border-color: #f0ad4e;
}

.panel-yellow a {
color: #f0ad4e;
}


.panel-red .panel-heading {
border-color: #d9534f;
color: #fff;
background-color: #d9534f;
}

.panel-red {
border-color: #d9534f;
}

.panel-red a {
color: #d9534f;
}

/* untuk style CListView */
.CListView table th{
    width:30%;
    background:#F8F8F8
}